Bomb/Web References/WebReference/BL_API_BOMB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBombInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="equipmentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BLId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBombInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBombInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBombResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="equipmentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BLId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pictureName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XyAxis" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bombResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBombResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBombResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBombInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetBombInformation" />
  </wsdl:message>
  <wsdl:message name="GetBombInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetBombInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetBombResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetBombResult" />
  </wsdl:message>
  <wsdl:message name="GetBombResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetBombResultResponse" />
  </wsdl:message>
  <wsdl:portType name="BL_API_BOMBSoap">
    <wsdl:operation name="GetBombInformation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BL API機台炸彈系統BL資訊上拋</wsdl:documentation>
      <wsdl:input message="tns:GetBombInformationSoapIn" />
      <wsdl:output message="tns:GetBombInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBombResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BL API機台檢測炸彈結果上拋</wsdl:documentation>
      <wsdl:input message="tns:GetBombResultSoapIn" />
      <wsdl:output message="tns:GetBombResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BL_API_BOMBSoap" type="tns:BL_API_BOMBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBombInformation">
      <soap:operation soapAction="http://tempuri.org/GetBombInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBombResult">
      <soap:operation soapAction="http://tempuri.org/GetBombResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BL_API_BOMBSoap12" type="tns:BL_API_BOMBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBombInformation">
      <soap12:operation soapAction="http://tempuri.org/GetBombInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBombResult">
      <soap12:operation soapAction="http://tempuri.org/GetBombResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BL_API_BOMB">
    <wsdl:port name="BL_API_BOMBSoap" binding="tns:BL_API_BOMBSoap">
      <soap:address location="http://10.93.64.139/BL_API_BOMB_TEST/BL_API_BOMB.asmx" />
    </wsdl:port>
    <wsdl:port name="BL_API_BOMBSoap12" binding="tns:BL_API_BOMBSoap12">
      <soap12:address location="http://10.93.64.139/BL_API_BOMB_TEST/BL_API_BOMB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>